<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/ee2fbccbbc.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Twitter - the clone</title>
  </head>
  <body>
    <!-- Header -->
    <nav class="header">
      <div class="left-part-nav">
        <!-- Logo -->
        <img
          src="../assets/twitter-logo.png"
          alt=""
          style="width: 50px;"
          class="logo"
        />
        <!-- search bar -->
        <i class="fas fa-search" id="search-icon"></i>
        <input type="text" class="input" placeholder=" Search twitter" />
      </div>
      <div class="right-part-nav">
        <!-- sign up / log in buttons -->
        <a class="button main" style="margin-right: 15px;">Log In</a>
        <a class="button secondary" style="margin-right: 15px;">Sign Up</a>
        <!-- Three dots buttons -->
        <a class="button more"><span class="fas fa-ellipsis-h more"></span></a>
      </div>
    </nav>
    <!-- End of header -->

    <div class="main-container">
      <!-- Main container start -->
      <div class="content-container">
        <!-- Profile -->
        <div class="profile">
          <!-- Circle profile image -->
          <img
            src="../assets/profile-pic.jpg"
            alt="picture of Vlad"
            class="profile-pic"
          />
          <!-- Cover image -->
          <img
            src="../assets/nature.jpeg"
            alt="cover picture"
            class="cover-pic"
          />
          <!-- Follow button -->
          <button class="button main follow-button right space-right">
            Follow
          </button>
          <!-- Profile details -->
          <div class="profile-details" style="margin-top: 80px;">
            <!-- Name -->
            <h5>Name</h5>
            <p>@Name</p>
            <!-- hashtag -->
            <p><a href="#">#what-i-like</a></p>
            <div>
              <!-- Birth-day -->
              <p class="left padding-10">24 June 1995</p>
              <!-- join-day -->
              <p>Joined 14 February 2020</p>
            </div>
            <div>
              <p class="left padding-10">Following: 2500</p>
              <p>Followers: 1000</p>
            </div>
            <div>
              <ul class="profile-toggle">
                <li class="active">Tweets</li>
                <li>Tweets and Replies</li>
                <li>Media</li>
                <li>Likes</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End if profile -->

        <!-- User tweets -->
        <div>
          <!-- Each tweet one after other -->
          <div class="tweet">
            <div class="content">
              <img src="../assets/profile-pic.jpg" alt="profile picture" />
              <div class="tweet-identifiers">
                <p>Name</p>
                <p>@name</p>
                <p>- 24 June 2020</p>
              </div>
            </div>
            <p class="tweet-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <ul>
              <li><i class="far fa-comment"></i>246</li>
              <li><i class="fas fa-retweet"></i>6</li>
              <li><i class="far fa-heart"></i>24</li>
              <li><i class="far fa-share-square"></i></li>
            </ul>
          </div>
        </div>
        <!-- End if user tweets -->
      </div>
      <!-- Main container end -->

      <!-- Aside -->
      <aside class="aside">
        <!-- New to us, sign in -->
        <div class="signup-cta">
          <div>
            <h2>New to us?</h2>
            <p>Sign up now to get your own personalized timeline!</p>
          </div>
          <button class="button secondary signup">Sign Up</button>
        </div>
        <!-- image grid -->
        <div class="image-grid">
          <img src="../assets/gridimg2.jpg" alt="" class="" />
          <img src="../assets/gridimg3.png" alt="" class="" />
          <img src="../assets/gridimg4.jpeg" alt="" class="" />
          <img src="../assets/gridimg5.jpg" alt="" class="" />
          <img src="../assets/gridimg6.jpg" alt="" class="" />
          <img src="../assets/gridimg1.jpg" alt="" class="" />
        </div>
        <!-- Follow sudgestions -->
        <ul class="follow-sudgestions">
          <li><h3>You might like</h3></li>
          <li>
            <!-- profile pic -->
            <!--name and tag-->
            <!--follow button-->
            <img src="" alt="" />
            <p>Name</p>
            <p>@Name</p>
            <button>Follow</button>
          </li>
          <li>
            <img src="" alt="" />
            <p>Name</p>
            <p>@Name</p>
            <button>Follow</button>
          </li>
          <li>
            <img src="" alt="" />
            <p>Name</p>
            <p>@Name</p>
            <button>Follow</button>
          </li>
          <li><a href="">Show more</a></li>
        </ul>
        <!-- Trends  -->
        <div>
          <h2>Trends</h2>
        </div>
        <!-- Aside footer -->
        <footer>
          <p>Terms</p>
          <p>Privacy policy</p>
          <p>Cookies</p>
          <p>Ads info</p>
          <p>More ^</p>
          <p>&copy; Twitter, Inc</p>
        </footer>
      </aside>
      <!-- End of Aside -->
    </div>
  </body>
</html>
