* {
  margin: 0 auto;
}

body {
  /* Variables for colors */
  --main-blue-color: #161f2b;
  --secondary-blue: #243340;
  --deep-blue: #375e7e;
  --main-grey: #404f5f;
  --light-blue: #1aa4f1;
  background-color: var(--main-blue-color);
  color: white;
}

a {
  text-decoration: none;
  color: var(--light-blue);
}

ul {
  list-style: none;
}

.padding-10 {
  padding-right: 10px;
}

/* Floats */
.left {
  float: left !important;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.content-container {
  display: column;
  flex-direction: row;
}

.aside {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 55px;
  background-color: var(--main-blue-color);
  box-shadow: 0 1px var(--main-grey);
}

.profile {
  margin-top: 2px;
  margin-left: 200px;
  height: 433px;
  width: 37.5em;
  border-left: 1px solid var(--main-grey);
  border-right: 1px solid var(--main-grey);
}

.profile-details {
  margin-top: 55px;
  margin-left: 25px;
}

.follow-details p {
  margin-right: 5px;
  margin-top: 5px;
}

.profile-pic {
  position: absolute;
  top: 180px;
  left: 300px;
  border: 4px solid var(--main-blue-color);
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.cover-pic {
  object-fit: cover;
  height: 200px;
  width: 600px;
}

.profile-toggle {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 10px;
  right: 65px;
  width: 600px;
  height: 50px;
  text-align: center;
}

.active {
  border-bottom: 2px solid var(--light-blue);
}

.profile-toggle li {
  padding: 10px;
  width: 100%;
}

.profile-toggle li:hover {
  background-color: var(--main-grey);
  border-bottom: 2px solid var(--light-blue);
}

#search-icon {
  color: var(--main-grey);
  position: absolute;
  top: 20px;
  right: 1090px;
}

/* main input style */
.input {
  background-color: var(--secondary-blue);
  border-radius: 25px;
  height: 30px;
  width: 430px;
  margin-top: 10px;
  border: 0;
  padding: 3px 35px;
  color: white;
}

.more {
  border: none !important;
  border-radius: 0px;
  width: 0px !important;
  color: var(--deep-blue) !important;
  font-size: 25px;
  margin-bottom: 15px !important;
}

.follow-button {
  padding: 10px 5px !important;
  text-align: center;
  height: auto !important;
  background-color: var(--main-blue-color);
  margin-top: 5px !important;
  margin-right: 10px;
}

/* main button style */
.button {
  display: block;
  /* color: ; */
  width: 90px;
  height: 20px;
  border: 1px solid var(--light-blue);
  border-radius: 25px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.main {
  color: var(--light-blue);
  background-color: var(--main-blue-color);
}

.secondary {
  color: white;
  background-color: var(--light-blue);
}

.logo {
  /* position: absolute; */
  width: 100%;
  height: 30px;
  object-fit: contain;
  /* top: 15px;
  left: 130px; */
  margin-top: 15px;
}

.left-part-nav {
  display: flex;
  flex-direction: row;
  margin-left: 350px;
}

.right-part-nav {
  display: flex;
  flex-direction: row;
  margin-right: 370px;
}

.tweet {
  border: 1px solid var(--main-grey);
  width: 600px;
  height: 100%;
  position: relative;
  left: 100px;
}

.tweet img {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 35px;
  left: 10px;
}

.content {
  display: flex;
  flex-direction: row;
}

.tweet-identifiers {
  display: flex;
  flex-direction: row;
  width: 200px;
  margin-top: 45px;
  margin-left: 62px;
}

.tweet-identifiers > p {
  margin: 0 auto;
}

.tweet-content {
  display: block;
  margin-left: 65px;
  margin-right: 10px;
  text-align: left;
}

.tweet ul {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
  margin-right: 55px;
}

.tweet ul li {
  padding: 25px;
}

.tweet ul li i {
  padding: 5px;
}

/* Aside styles and modification start */
.signup-cta {
  width: 330px;
  height: 140px;
  border: 1px solid var(--main-grey);
  border-radius: 15px;
  position: relative;
  right: 170px;
  top: 25px;
  text-indent: 15px;
}

.signup {
  padding: 10px 10px 25px 10px !important;
  width: 95%;
  margin-top: 20px;
}

.signup-cta div {
  position: relative;
  top: 15px;
}

.signup-cta div h2 {
  margin-bottom: 10px;
}

.temp {
  background-color: antiquewhite;
}

.image-grid img {
  object-fit: cover;
  width: 110px;
  height: 100px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 110px);
  grid-template-rows: repeat(2, 100px);
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--main-grey);
  margin-top: 35px;
  margin-right: 340px;
}

.follow-sudgestions {
}
