* {
  margin: 0 auto;
}

body {
  /* Variables for colors */
  --main-blue-color: #161f2b;
  --secondary-blue: #243340;
  --deep-blue: #375e7e;
  --main-grey: #404f5f;
  --light-blue: #1aa4f1;
  --dark-slate-grey: #192734;
  --secondary-grey: #63727c;
  --rgba-hover: rgb(131, 185, 217, 0.1);
  background-color: var(--main-blue-color);
  color: white;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: var(--light-blue);
  display: block;
}

ul {
  list-style: none;
}

.padding-10 {
  padding-right: 10px;
}

/* Floats */
.left {
  float: left !important;
}

.right {
  float: right;
}

/* Font options */

.font-normal {
  font-size: 15px;
}

.font-small {
  font-size: 13px;
}

.font-big {
  font-size: 20px;
}

.thin {
  font-weight: 200;
}

.bold {
  font-weight: bold;
}

.grey {
  color: var(--secondary-grey);
}

.tweeet-buttons {
  transition: 0.2 ease-out;
}

.tweeet-buttons li i:hover {
  background-color: rgba(41, 241, 195, 0.1);
  border-radius: 50%;
}

/* Font options end */

.flex-row {
  display: flex;
  flex-direction: row;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.content-container {
  flex-direction: row;
}

.aside {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 55px;
  background-color: var(--main-blue-color);
  box-shadow: 0 1px var(--main-grey);
}

.profile {
  margin-top: 2px;
  margin-left: 200px;
  height: 464px;
  width: 37.5em;
  border-left: 1px solid var(--main-grey);
  border-right: 1px solid var(--main-grey);
}

.profile-details {
  margin-top: 55px;
  margin-left: 25px;
}

.follow-details p {
  margin-right: 5px;
  margin-top: 5px;
}

.profile-pic {
  position: relative;
  top: 114px;
  left: 5px;
  border: 4px solid var(--main-blue-color);
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.cover-pic {
  object-fit: cover;
  height: 200px;
  width: 600px;
  margin-top: -162px;
}

.profile-toggle {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 25px;
  right: 65px;
  width: 600px;
  height: 50px;
  text-align: center;
}

.active {
  border-bottom: 2px solid var(--light-blue);
  color: var(--light-blue);
}

.profile-toggle li {
  padding: 10px;
  width: 100%;
  transition: 0.1s ease;
}

.profile-toggle li:hover {
  background-color: var(--rgba-hover);
  color: var(--light-blue);
}

#search-icon {
  color: var(--main-grey);
  position: relative;
  top: 20px;
  right: -27px;
}

/* main input style */
.input {
  background-color: var(--secondary-blue);
  border-radius: 25px;
  height: 30px;
  width: 430px;
  margin-top: 10px;
  border: 0;
  padding: 3px 35px;
  color: white;
  margin-right: 120px;
}

.more {
  border: none !important;
  border-radius: 0px;
  width: 0px !important;
  color: var(--deep-blue) !important;
  font-size: 25px;
  margin-bottom: 15px !important;
}

.follow-button {
  padding: 10px 5px !important;
  text-align: center;
  height: auto !important;
  background-color: var(--main-blue-color);
  margin-top: 5px !important;
  margin-right: 10px;
}

/* main button style */
.button {
  display: block;
  width: 90px;
  height: 20px;
  border: 1px solid var(--light-blue);
  border-radius: 25px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
}

.button-hover {
  transition: 0.3s ease;
}

.button-hover:hover {
  background-color: var(--rgba-hover);
}

.main {
  color: var(--light-blue);
  background-color: var(--main-blue-color);
}

.secondary {
  color: white;
  background-color: var(--light-blue);
}

.logo {
  width: 100%;
  height: 30px;
  object-fit: contain;

  margin-top: 15px;
}

.left-part-nav {
  display: flex;
  flex-direction: row;
}

.right-part-nav {
  display: flex;
  flex-direction: row;
}

/* Tweet styles start */

.tweet {
  border: 1px solid var(--main-grey);
  width: 600px;
  height: 100%;
  position: relative;
  left: 100px;
}

.tweet img {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 35px;
  left: 10px;
}

.content {
  display: flex;
  flex-direction: row;
}

.tweet-identifiers {
  display: flex;
  flex-direction: row;
  width: 220px;
  margin-top: 45px;
  margin-left: 62px;
}

.tweet-identifiers > p {
  margin: 0 auto;
}

.tweet-content {
  display: block;
  margin-left: 65px;
  margin-right: 10px;
  text-align: left;
}

.tweet ul {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
  margin-right: 55px;
}

.tweet ul li {
  padding: 25px;
}

.tweet ul li i {
  padding: 5px;
}

.tweet-chevron {
  position: relative;
  left: 300px;
}

/* Aside styles and modification start */
.signup-cta {
  width: 330px;
  height: 140px;
  border: 1px solid var(--main-grey);
  border-radius: 15px;
  position: relative;
  right: 170px;
  top: 25px;
  text-indent: 15px;
}

.signup {
  padding: 10px 10px 25px 10px !important;
  width: 95%;
  margin-top: 40px;
}

.signup-cta div {
  position: relative;
  top: 15px;
}

.signup-cta div h2 {
  margin-bottom: 10px;
}

.temp {
  background-color: antiquewhite;
}

.image-grid img {
  object-fit: cover;
  width: 110px;
  height: 100px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 110px);
  grid-template-rows: repeat(2, 100px);
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--main-grey);
  position: relative;
  top: 35px;
  right: 170px;
}

.follow-sudgestions {
  position: relative;
  top: 50px;
  right: 170px;
  border-radius: 15px;
  width: 290px;
  background-color: var(--dark-slate-grey);
}

.follow-sudgestions-img {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.follow-sudgestions li {
  height: 50px;
  width: 107%;
  border-top: 1px solid var(--main-grey);
  display: flex;
  flex-direction: row;
  position: relative;
  left: -40px;
  padding: 10px;
}

.follow-sudgestions div {
  margin-right: 70px;
}

.relative {
  position: relative;
}

.follow-sudgestions > :first-child {
  height: 20px;
  border-top: none;
  display: block;
  margin-left: 0;
}
.follow-sudgestions > :last-child {
  height: 20px;
  display: block;
  margin-left: 0 !important;
}

.trends {
  width: 330px;
  height: 50px;
  position: relative;
  background-color: var(--dark-slate-grey);
  border-radius: 15px;
  top: 65px;
  right: 170px;
  border-bottom: 1px solid var(--main-grey);
}

.trends h2 {
  padding: 10px;
}

.side-footer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  top: 90px;
  right: 180px;
}

#wrap {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1490px) {
  .main-container aside {
    display: none;
  }
  .main-container {
    margin-right: 390px;
  }

  .left-part-nav {
    margin-left: 100px;
  }

  .header {
    height: 90px;
  }

  .responsive-buttons {
    width: 270px;
  }

  #wrap {
    position: relative;
    right: 88px;
    max-width: 960px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}

@media (min-width: 1100px) and (max-width: 1200px) {
  #wrap {
    max-width: 600px;
    left: -38px;
    align-content: center;
    justify-content: center;
  }
  .left-part-nav {
    margin-left: 5px;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {
  #wrap {
    max-width: 400px;
    left: -110px;
    align-content: center;
    justify-content: center;
  }
  .left-part-nav {
    margin-left: -5px;
  }
}

@media (max-width: 1000px) {
  #wrap {
    max-width: 400px;
    left: -80px;
    align-content: center;
    justify-content: center;
  }
  #wrap .left-part-nav {
    margin-left: -5px;
  }
}

@media (max-width: 950px) {
  body {
    width: 600px;
  }
  .profile {
    margin-left: 0px;
  }
  .tweet {
    left: 0px;
  }
}
